body {
    background-color: #f5f5f5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    height: 100vh;
    margin: 0 auto;
}

@media screen and (max-device-width: 500px) {
    html {
        font-size: 3.5vw;
    }

    main {
        width: 100%;
        padding: 0 5%;

    }
}

@media screen and (min-device-width: 501px ) {
    main {
        max-width: 500px;
        width: 100%;
        font-size: 16px;
    }
}


.logo {
    width: 100%;
}

img {
    max-width: 60%;
}


h1 {
    font-weight: bold;
    font-family: 'Roboto Bk';
}

span {
    color: #757575;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 1.5625rem; /* 25px */
}

.input__input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3.125rem;
    height: 3.125rem;
}

.input__input > input {
    position: absolute;
    z-index: 2;
}

input {
    width: 100%;
    height: 3.125rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.33rem;
    box-shadow: none;
    border: 0.125rem solid #9e9e9e;
    transition: .2s;
}

input:hover {
    border-color: #bdbdbd;
}

input:focus {
    border-color: #424242;
}


button {
    width: 100%;
    height: 3.125rem;

    background-color: #01e675;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0.33rem;
    border: none;
    box-shadow: none;

    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: #01ff91;
}

button:disabled {
    background-color: #bdbdbd;
    color: #9e9e9e;
    cursor: initial;
}

label {
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.checkbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 1.5625rem;
}

#web-version {
    width: auto;
    margin: 0 0.625rem 0 0;
    cursor: pointer;
    display: none;

}

#web-version + label {
    font-weight: normal;
    margin: 0;
    cursor: pointer;
    display: flex;
    transition: .2s;
}

#web-version + label::before {
    content: '';
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 1rem;
    height: 1rem;
    border: 0.125rem solid #9e9e9e;
    margin-right: 0.625rem;
    transition: .2s;
    border-radius: 30%;
}

#web-version + label:hover::before, #web-version + label:hover {
    border-color: #acacac;
    color: #acacac;
}

#web-version:checked + label::before {
    content: '✔';
    border-color: #01e675;
    color: #01e675;
}

.errorMessage {
    color: #e53935;
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    bottom: 0;
    transition: .5s;

    position: absolute;
}

.errorMessage::before {
    width: 1.5rem;
    height: 1.5rem;
    content: '';
    background-image: url('img/error_ico.svg');
    background-size: 100%;
    margin-right: 0.33rem;
    background-repeat: no-repeat;
    z-index: 0;
}

.hasError {
    border-color: #e53935;
}

.hasError + .errorMessage {
    transform: translateY(2rem);
}
